<!-- Google Analytics Tracking code -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics-google }}']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<script>(()=>{const e=window.Cohere=window.Cohere||[];if(e.invoked)return void console.error("Tried to load Cohere twice");e.invoked=!0,e.snippet="0.2",e.methods=["init","identify","stop"],e.methods.forEach(t=>{e[t]=((...o)=>{o.unshift(t),e.push(o)})});const t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://static.cohere.so/main.js";const o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(t,o)})()</script>
<script> window.Cohere.init("M5zvcSDKQrg17NQUx9oyUunI")</script>
